%section#about.resume-section.p-3.p-lg-5.d-flex.d-column
  .my-auto
    %h1.mb-0
      Craig
      %span.text-primary Wallace
    .subheading.mb-5
      161 N Civic Dr · Walnut Creek, CA 94596 · (239) 273-2664 ·
      %a{:href => "mailto:reactionlearning@email.com"} ReactionLearning@email.com
    %p.mb-5 I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
    %ul.list-inline.list-social-icons.mb-0
      %li.list-inline-item
        %a{:href => "#"}
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-facebook.fa-stack-1x.fa-inverse
      %li.list-inline-item
        %a{:href => "#"}
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-twitter.fa-stack-1x.fa-inverse
      %li.list-inline-item
        %a{:href => "#"}
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-linkedin.fa-stack-1x.fa-inverse
      %li.list-inline-item
        %a{:href => "#"}
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-github.fa-stack-1x.fa-inverse